<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/layout.css" />
</head>

<body>
  <%- include("../partials/_logo") %>
    <div style="display: grid; width: 400px; margin:auto">
      <h1 style="text-align: center;">Create a new account!</h1>
      <form action="/auth/sign-up" method="POST">

        <label for="firstName">First Name:</label>
        <input type="text" name="firstName" id="firstname" required />

        <label for="lastName">Last Name:</label>
        <input type="text" name="lastName" id="lastname" required />

        <label for="email">Email:</label>
        <input type="text" name="email" id="email" required />

        <label for="phone">Phone:</label>
        <input type="number" name="phone" id="phone" />

        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required />

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required />

        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" name="confirmPassword" id="confirmPassword" required />

        <button style="width:100%" class="btn" type="submit">Sign up</button>
      </form>
</body>

</html>