<aside class="sidebar">
  <ul>
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/events">Events</a></li>
    <li><a href="/vendors">Vendors</a></li>
    <li><a href="/auth/sign-out">Logout</a></li>
  </ul>
</aside>
