<nav class="sidebar">
    <div class="logo">
        <a href="/dashboard"> Planna</a>
    </div>
    <ul>
        <li><a href="/events">Events</a></li>
        <li><a href="/vendors">Vendors</a></li>
        <li><a href="/tasks">Tasks</a></li>
        <li><a href="/payments">Payments</a></li>
        <li><a href="/guests">Guests</a></li>
        <li><a href="/rsvps">RSVPs</a></li>
        <li><a href="/user-vendors">My Vendors</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>